#!/usr/bin/env bash
doVerbose=1

# define current project name
project_name=ba-toolbox
export PROJECT_HOME=$WORK/$project_name

# set local python version using `pyenv` if installed
if command -v pyenv 1>/dev/null 2>&1; then
    pyenv shell 3.12.13
    # DOES define envar `PYENV_VERSION`
    # DOES NOT creates file .python-version (`pyenv local` does)
else
    echo -e "\nWARNING:
    pyenv not installed. see:
    https://opensource.com/article/19/5/python-3-default-mac#what-to-do
    using $(python --version)
    "
fi

if command -v claude 1>/dev/null 2>&1; then
    export CLAUDE_WRAPPER_NAME='CC•BA Toolbox'
    export CLAUDE_WRAPPER_COLOR='yellow'
    export CLAUDE_WRAPPER_ENABLE_NOW=1
    export CLAUDE_WRAPPER_DEBUG=1
    # echo $CLAUDE_WRAPPER_PATH
fi

# does virtual environment in directory .venv exist?
export WORKON_HOME=$PROJECT_HOME/.venv
err=0   # assume no error
if [ ! -r $WORKON_HOME ]; then
    echo "
    ERROR: WORKON_HOME directory does not exist. STOP.
    WORKON_HOME: $WORKON_HOME
    Try:
        python -m venv ./venv
    "
    err=1   # error
fi

if ((! $err)); then
    # activate virtual environment
    source $WORKON_HOME/bin/activate

    # define a few environment variables used per project
    export DATA_HOME=$PROJECT_HOME/data
    export PYTHONPATH=$PROJECT_HOME/scripts:$PYTHONPATH

    if [ $doVerbose = 1 ]; then
        echo "GIT BRANCH: $(git branch)"
        echo
        echo "PROJECT_HOME: $PROJECT_HOME"
        echo
        echo "PATH:"
        echo $PATH | perl -pe "s/:/\n/g" | cat -n
    fi
fi
